# Problem Formulation


##### We want to find and predict the Speed Dating Match given the other features .

##### Input :- Features collected from Surveys from partners.

##### Output :- Predected Matching for partners .

##### Data Mining Function :- Manipulating ,analyzing , preprocessing the data.

#### Challenges  :

##### Nan cells.
##### Unused and unimportnat column.
##### Convert the dtype.
##### convert strings by One Hot encoding.
##### Handling unbalanced data by over sampling
#### Impact  : 
##### Predicting the match of the partners that will lead to a successful match.

# Questions

## Why a simple linear regression model (without any activation function) is not good for classification task, compared to Perceptron/Logistic regression? 
---------------------------------

#### Simple linear regression models are not good for classification tasks because they don't provide a binary output, which is required for classification problems. Linear regression models predict continuous output values that can take on any value within a given range, while classification models require binary outputs, where the predicted value is either 0 or 1.

#### Perceptron and logistic regression models, on the other hand, are designed specifically for binary classification tasks and use activation functions (such as the sigmoid function) to produce a binary output. They are able to learn decision boundaries that separate different classes and can handle non-linear relationships between input features and output labels. Therefore, they are more suitable for classification tasks compared to simple linear regression models

## What's a decision tree and how it is different to a logistic regression model?
-----------------

#### A decision tree is a type of supervised learning algorithm that is used for both classification and regression tasks. It is a tree-like model that uses a sequence of decisions on input features to arrive at a prediction. Each internal node in the tree represents a decision based on a feature, while each leaf node represents a class label or a numerical value.

#### On the other hand, logistic regression is a type of linear regression that is used for binary classification tasks. It models the probability of the occurrence of an event using a logistic function, which maps any real-valued input to a value between 0 and 1. The decision boundary in logistic regression is a straight line, while in decision trees, it is a series of decisions on input features.

#### The main difference between a decision tree and a logistic regression model is that decision trees are non-linear models and can handle non-linear relationships between input features and output labels, while logistic regression is a linear model that assumes a linear relationship between input features and output labels. Decision trees can also handle categorical and ordinal data, while logistic regression requires numerical input features. However, decision trees can be prone to overfitting, while logistic regression is less prone to overfitting.

##  What's the difference between grid search and random search?
--------------
#### Grid search and random search are both hyperparameter optimization techniques used to find the best set of hyperparameters for a machine learning model. The main difference between them is the way they search the hyperparameter space.

#### Grid search exhaustively searches over a predefined set of hyperparameters by creating a grid of all possible hyperparameter combinations. It evaluates each combination using cross-validation and returns the combination that produces the best performance.

#### Random search, on the other hand, randomly samples hyperparameters from a predefined distribution. It searches over a larger hyperparameter space compared to grid search and can potentially find better hyperparameters. It also evaluates each combination using cross-validation and returns the combination that produces the best performance.

#### Overall, grid search is a good option when the hyperparameter space is small and the possible combinations are easily enumerable, while random search is a good option when the hyperparameter space is large and the possible combinations are not easily enumerable. Random search is also more computationally efficient when the number of hyperparameters is large.

## What's the difference between bayesian search and random search?
-----

#### Bayesian search and random search are both hyperparameter optimization techniques used to find the best set of hyperparameters for a machine learning model. The main difference between them is the way they search the hyperparameter space and update the search process.

#### Random search randomly samples hyperparameters from a predefined distribution and evaluates each combination using cross-validation. It does not take into account the results of previous evaluations and is a purely random process.

#### Bayesian search, on the other hand, uses the results of previous evaluations to update the search process. It models the distribution of the objective function (i.e., the performance metric of the model) as a probabilistic model and uses it to select the next set of hyperparameters to evaluate. The model updates its beliefs about the objective function as more evaluations are conducted and becomes more certain about the optimal hyperparameters over time.

#### Overall, Bayesian search is a more intelligent approach than random search as it leverages the information gathered during the search process to guide the search towards promising regions of the hyperparameter space. This can lead to faster convergence and better performance compared to random search. However, Bayesian search requires more computational resources and is more complex to implement compared to random search.

## importing libraries

In [46]:
## For uploading and accessing the data
import pandas as pd
import numpy as np 

# for Encode categorical features as a numeric values
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing


# for Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# for fitting Models
from sklearn.model_selection import GridSearchCV
from sklearn import svm
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

## Load Data and Explore it

In [47]:
# reading the training dataset 

data= pd.read_csv("train.csv")
data

,gender,idg,condtn,wave,round,position,positin1,order,partner,pid,...,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3,id
0,0,3,2,14,18,2,2.0,14,12,372.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2583
1,1,14,1,3,10,2,NaN,8,8,63.0,...,8.0,8.0,7.0,8.0,NaN,NaN,NaN,NaN,NaN,6830
2,1,14,1,13,10,8,8.0,10,10,331.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4840
3,1,38,2,9,20,18,13.0,6,7,200.0,...,9.0,8.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,5508
4,1,24,2,14,20,6,6.0,20,17,357.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5904,0,1,2,9,20,2,2.0,18,1,214.0,...,12.0,12.0,9.0,12.0,NaN,NaN,NaN,NaN,NaN,3390
5905,1,24,2,9,20,19,15.0,5,6,199.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4130
5906,0,13,2,11,21,5,5.0,3,18,290.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1178
5907,1,10,2,7,16,6,14.0,9,10,151.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5016
5908,0,7,2,21,22,7,7.0,2,12,542.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8149

In [48]:
# reading the training dataset 

data_test= pd.read_csv("test.csv")
data_test

,gender,idg,condtn,wave,round,position,positin1,order,partner,pid,...,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3,id
0,0,5,2,2,16,3,NaN,13,13,52.0,...,7.0,8.0,6.0,8.0,NaN,NaN,NaN,NaN,NaN,934
1,0,33,2,14,18,6,6.0,4,8,368.0,...,8.0,7.0,7.0,8.0,6.0,7.0,6.0,5.0,5.0,6539
2,1,6,2,9,20,10,16.0,15,19,212.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6757
3,1,26,2,2,19,15,NaN,8,10,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2275
4,0,29,2,7,16,7,7.0,10,5,162.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2464,0,23,2,15,19,18,18.0,14,11,407.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7982
2465,0,5,1,13,9,4,4.0,4,8,339.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7299
2466,1,26,2,2,19,3,NaN,15,3,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1818
2467,0,19,2,9,20,11,11.0,9,2,215.0,...,7.0,12.0,12.0,9.0,NaN,NaN,NaN,NaN,NaN,937
2468,1,38,2,21,22,22,7.0,16,5,513.0,...,9.0,8.0,7.0,8.0,5.0,8.0,8.0,6.0,8.0,6691

In [49]:
data.shape

(5909, 192)

In [50]:
data_test.shape

(2469, 191)

In [51]:
# anything missing?
data.isnull().sum().sort_values(ascending=False)

num_in_3    5449
numdat_3    4849
expnum      4627
amb7_2      4519
sinc7_2     4519
            ...
order          0
partner        0
match          0
samerace       0
gender         0
Length: 192, dtype: int64

In [52]:
# checking types:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5909 entries, 0 to 5908
Columns: 192 entries, gender to id
dtypes: float64(173), int64(11), object(8)
memory usage: 8.7+ MB

In [53]:
#looking for the columns which have more than 64 % null
check = data.isnull().sum() / len(data) 

cols = check[check > 0.64].index

In [54]:
list(cols)

['expnum',
 'attr7_2',
 'sinc7_2',
 'intel7_2',
 'fun7_2',
 'amb7_2',
 'shar7_2',
 'numdat_3',
 'num_in_3',
 'attr7_3',
 'sinc7_3',
 'intel7_3',
 'fun7_3',
 'amb7_3',
 'shar7_3',
 'attr4_3',
 'sinc4_3',
 'intel4_3',
 'fun4_3',
 'amb4_3',
 'shar4_3',
 'attr2_3',
 'sinc2_3',
 'intel2_3',
 'fun2_3',
 'amb2_3',
 'shar2_3',
 'attr5_3',
 'sinc5_3',
 'intel5_3',
 'fun5_3',
 'amb5_3']

In [55]:
# Below code gives percentage of null in every column
null_percentage = data.isnull().sum()/data.shape[0]*100
list(null_percentage)

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 22.30495853782366,
 0.0,
 0.0,
 0.13538669825689625,
 0.0,
 1.8446437637502116,
 0.0,
 1.100016923337282,
 0.8123201895413776,
 0.99847689964461,
 0.99847689964461,
 0.99847689964461,
 1.116940260619394,
 1.2354036215941784,
 1.4046369944152985,
 2.589270604163141,
 3.536977491961415,
 3.723134202064647,
 4.484684379759689,
 8.66474868844136,
 13.31866644102217,
 3.096970722626502,
 3.9769842612963275,
 4.653917752580809,
 1.066170248773058,
 0.7615501776950415,
 0.99847689964461,
 41.32678964291758,
 62.17634117447961,
 56.94702995430699,
 0.7615501776950415,
 0.9815535623624978,
 0.9815535623624978,
 0.9815535623624978,
 12.184802843120664,
 48.43459130140464,
 0.9815535623624978,
 1.2184802843120663,
 0.9815535623624978,
 1.08309358605517,
 1.6923337282112032,
 0.9815535623624978,
 0.9815535623624978,
 0.9815535623624978,
 0.9815535623624978,
 0.9815535623624978,
 0.9815535623624978,
 0.9815535623624978,
 0.9815535623624978,
 0.9815535623624978,
 0.9815535623624978,
 0.9815535623624978,
 0.9815535623624978,
 0.9815535623624978,
 0.9815535623624978,
 0.9815535623624978,
 0.9815535623624978,
 0.9815535623624978,
 1.1846336097478423,
 78.30428160433237,
 0.9815535623624978,
 0.9815535623624978,
 0.9815535623624978,
 1.100016923337282,
 1.2015569470299543,
 1.4892536808258587,
 22.778811981722797,
 22.778811981722797,
 22.778811981722797,
 22.778811981722797,
 22.778811981722797,
 23.0665087155187,
 0.9815535623624978,
 0.9815535623624978,
 0.9815535623624978,
 0.9815535623624978,
 1.100016923337282,
 1.100016923337282,
 1.3707903198510747,
 1.3707903198510747,
 1.3707903198510747,
 1.3707903198510747,
 1.3707903198510747,
 41.4960230157387,
 41.4960230157387,
 41.4960230157387,
 41.4960230157387,
 41.4960230157387,
 2.420037231342021,
 3.3846674564224064,
 3.4692841428329664,
 4.33237434422068,
 8.529361990184464,
 12.89558300896937,
 2.9615840243696057,
 3.8415975630394312,
 4.264680995092232,
 13.978676595024538,
 50.668471822643426,
 50.668471822643426,
 50.668471822643426,
 50.668471822643426,
 50.668471822643426,
 50.668471822643426,
 51.93772211880183,
 51.93772211880183,
 51.93772211880183,
 51.93772211880183,
 51.93772211880183,
 10.949399221526484,
 10.949399221526484,
 11.338635979015061,
 76.12117109493992,
 76.47656117786428,
 76.12117109493992,
 76.12117109493992,
 76.47656117786428,
 76.23963445591471,
 11.135555931629717,
 10.949399221526484,
 10.949399221526484,
 10.949399221526484,
 10.949399221526484,
 10.949399221526484,
 31.24048062277881,
 31.24048062277881,
 31.24048062277881,
 31.24048062277881,
 31.24048062277881,
 31.24048062277881,
 31.24048062277881,
 31.24048062277881,
 31.24048062277881,
 31.24048062277881,
 31.24048062277881,
 31.24048062277881,
 10.949399221526484,
 10.949399221526484,
 10.949399221526484,
 10.949399221526484,
 10.949399221526484,
 47.74073447283804,
 47.74073447283804,
 47.74073447283804,
 47.74073447283804,
 47.74073447283804,
 52.54696226095786,
 52.54696226095786,
 52.54696226095786,
 82.06126248096125,
 92.21526485022846,
 52.54696226095786,
 52.54696226095786,
 52.54696226095786,
 52.54696226095786,
 52.54696226095786,
 52.54696226095786,
 76.08732442037571,
 76.08732442037571,
 76.08732442037571,
 76.08732442037571,
 76.08732442037571,
 76.08732442037571,
 64.95176848874597,
 64.95176848874597,
 64.95176848874597,
 64.95176848874597,
 64.95176848874597,
 64.95176848874597,
 64.95176848874597,
 64.95176848874597,
 64.95176848874597,
 64.95176848874597,
 64.95176848874597,
 76.08732442037571,
 52.54696226095786,
 52.54696226095786,
 52.54696226095786,
 52.54696226095786,
 52.54696226095786,
 76.08732442037571,
 76.08732442037571,
 76.08732442037571,
 76.08732442037571,
 76.08732442037571,
 0.0]

In [56]:

# Below code gives list of columns having more than 64% null
col_to_drop = null_percentage[null_percentage>64].keys()

data = data.drop(col_to_drop, axis=1)
list(col_to_drop)

['expnum',
 'attr7_2',
 'sinc7_2',
 'intel7_2',
 'fun7_2',
 'amb7_2',
 'shar7_2',
 'numdat_3',
 'num_in_3',
 'attr7_3',
 'sinc7_3',
 'intel7_3',
 'fun7_3',
 'amb7_3',
 'shar7_3',
 'attr4_3',
 'sinc4_3',
 'intel4_3',
 'fun4_3',
 'amb4_3',
 'shar4_3',
 'attr2_3',
 'sinc2_3',
 'intel2_3',
 'fun2_3',
 'amb2_3',
 'shar2_3',
 'attr5_3',
 'sinc5_3',
 'intel5_3',
 'fun5_3',
 'amb5_3']

In [57]:
# Below code gives percentage of null in every column
null_percentage = data_test.isnull().sum()/data_test.shape[0]*100

# Below code gives list of columns having more than 64% null
col_to_drop = null_percentage[null_percentage>64].keys()

data_test = data_test.drop(col_to_drop, axis=1)
list(col_to_drop)

['expnum',
 'attr7_2',
 'sinc7_2',
 'intel7_2',
 'fun7_2',
 'amb7_2',
 'shar7_2',
 'numdat_3',
 'num_in_3',
 'attr7_3',
 'sinc7_3',
 'intel7_3',
 'fun7_3',
 'amb7_3',
 'shar7_3',
 'attr4_3',
 'sinc4_3',
 'intel4_3',
 'fun4_3',
 'amb4_3',
 'shar4_3',
 'attr2_3',
 'sinc2_3',
 'intel2_3',
 'fun2_3',
 'amb2_3',
 'shar2_3',
 'attr5_3',
 'sinc5_3',
 'intel5_3',
 'fun5_3',
 'amb5_3']

In [58]:
data.shape

(5909, 160)

In [59]:
data_test.shape

(2469, 159)

In [15]:
#get the non-numeric columns from training data
non_numeric_cols = list(data.select_dtypes(exclude=['number']).columns)
list(non_numeric_cols)

['field',
 'undergra',
 'mn_sat',
 'tuition',
 'from',
 'zipcode',
 'income',
 'career']

In [16]:
#get the non-numeric columns from test data

non_numeric_cols_test = list(data_test.select_dtypes(exclude=['number']).columns)
list(non_numeric_cols_test)

['field', 'undergra', 'from', 'zipcode', 'career']

In [17]:
#convert it to categories types 
for i in non_numeric_cols:
    data[i] = data[i].astype("category")

In [18]:
#same for testing data
for i in non_numeric_cols_test:
    data_test[i] = data_test[i].astype("category")

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5909 entries, 0 to 5908
Columns: 160 entries, gender to id
dtypes: category(8), float64(141), int64(11)
memory usage: 7.0 MB

In [20]:
data['match']

0       0
1       0
2       0
3       0
4       0
       ..
5904    0
5905    0
5906    0
5907    1
5908    0
Name: match, Length: 5909, dtype: int64

In [21]:
#droping id cloumn 
data.drop(['id'], axis=1)

,gender,idg,condtn,wave,round,position,positin1,order,partner,pid,...,sinc1_3,intel1_3,fun1_3,amb1_3,shar1_3,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3
0,0,3,2,14,18,2,2.0,14,12,372.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,14,1,3,10,2,NaN,8,8,63.0,...,20.00,15.00,20.00,10.00,15.00,6.0,8.0,8.0,7.0,8.0
2,1,14,1,13,10,8,8.0,10,10,331.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,38,2,9,20,18,13.0,6,7,200.0,...,18.37,18.37,18.37,14.29,14.29,8.0,9.0,8.0,8.0,6.0
4,1,24,2,14,20,6,6.0,20,17,357.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5904,0,1,2,9,20,2,2.0,18,1,214.0,...,18.87,18.87,15.09,16.98,13.21,12.0,12.0,12.0,9.0,12.0
5905,1,24,2,9,20,19,15.0,5,6,199.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5906,0,13,2,11,21,5,5.0,3,18,290.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5907,1,10,2,7,16,6,14.0,9,10,151.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5908,0,7,2,21,22,7,7.0,2,12,542.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# now we can split the data
import numpy as np
from sklearn.model_selection import train_test_split

y = data['match'] # lower case for vector
X = data.drop('match', axis=1) # upper case for matrix
print('original shape', X.shape, y.shape)

original shape (5909, 159) (5909,)

In [23]:
data.match.value_counts()

0    4921
1     988
Name: match, dtype: int64

In [24]:
# we extract numeric features and categorical features names
# for later use

# numeric features can be selected by: (based on the df2.info() output )
features_numeric = list(X.select_dtypes(include=['float64', 'int64']))

# categorical features can be selected by: (based on the df2.info() output )
features_categorical = list(X.select_dtypes(include=['category']))

print('numeric features:', features_numeric)
print('categorical features:', features_categorical)

numeric features: ['gender', 'idg', 'condtn', 'wave', 'round', 'position', 'positin1', 'order', 'partner', 'pid', 'int_corr', 'samerace', 'age_o', 'race_o', 'pf_o_att', 'pf_o_sin', 'pf_o_int', 'pf_o_fun', 'pf_o_amb', 'pf_o_sha', 'attr_o', 'sinc_o', 'intel_o', 'fun_o', 'amb_o', 'shar_o', 'like_o', 'prob_o', 'met_o', 'age', 'field_cd', 'race', 'imprace', 'imprelig', 'goal', 'date', 'go_out', 'career_c', 'sports', 'tvsports', 'exercise', 'dining', 'museums', 'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'theater', 'movies', 'concerts', 'music', 'shopping', 'yoga', 'exphappy', 'attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1', 'attr4_1', 'sinc4_1', 'intel4_1', 'fun4_1', 'amb4_1', 'shar4_1', 'attr2_1', 'sinc2_1', 'intel2_1', 'fun2_1', 'amb2_1', 'shar2_1', 'attr3_1', 'sinc3_1', 'fun3_1', 'intel3_1', 'amb3_1', 'attr5_1', 'sinc5_1', 'intel5_1', 'fun5_1', 'amb5_1', 'attr', 'sinc', 'intel', 'fun', 'amb', 'shar', 'like', 'prob', 'met', 'match_es', 'attr1_s', 'sinc1_s', 'intel1_s', 'fun1_s', 'amb1_s', 'shar1_s', 'attr3_s', 'sinc3_s', 'intel3_s', 'fun3_s', 'amb3_s', 'satis_2', 'length', 'numdat_2', 'attr1_2', 'sinc1_2', 'intel1_2', 'fun1_2', 'amb1_2', 'shar1_2', 'attr4_2', 'sinc4_2', 'intel4_2', 'fun4_2', 'amb4_2', 'shar4_2', 'attr2_2', 'sinc2_2', 'intel2_2', 'fun2_2', 'amb2_2', 'shar2_2', 'attr3_2', 'sinc3_2', 'intel3_2', 'fun3_2', 'amb3_2', 'attr5_2', 'sinc5_2', 'intel5_2', 'fun5_2', 'amb5_2', 'you_call', 'them_cal', 'date_3', 'attr1_3', 'sinc1_3', 'intel1_3', 'fun1_3', 'amb1_3', 'shar1_3', 'attr3_3', 'sinc3_3', 'intel3_3', 'fun3_3', 'amb3_3', 'id']
categorical features: ['field', 'undergra', 'mn_sat', 'tuition', 'from', 'zipcode', 'income', 'career']

In [25]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\programdata\anaconda3\lib\site-packages (1.7.4)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.19.2)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.5.2)

In [26]:
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.datasets import fetch_openml
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import  GridSearchCV
from xgboost.sklearn import XGBClassifier

np.random.seed(0)

# define a pipe line for numeric feature preprocessing
# we gave them a name so we can set their hyperparameters
transformer_numeric = Pipeline(
    steps=[
        ('imputer', SimpleImputer()),
        ('scaler', StandardScaler())]
)

# define a pipe line for categorical feature preprocessing
# we gave them a name so we can set their hyperparameters
transformer_categorical = Pipeline(
    steps=[
        ('imputer', SimpleImputer(strategy='constant')),
        ('onehot', OneHotEncoder(handle_unknown='ignore'))
    ]
)
# define the preprocessor 
# we gave them a name so we can set their hyperparameters
# we also specify what are the categorical 
preprocessor = ColumnTransformer(
    transformers=[
        ('num', transformer_numeric, features_numeric),
        ('cat', transformer_categorical, features_categorical)
    ]
)

# combine the preprocessor with the model as a full tunable pipeline
# we gave them a name so we can set their hyperparameters
full_pipline = Pipeline(
    steps=[
        ('preprocessor', preprocessor),
        ('my_classifier', svm.SVC())
    ]
)

full_pipline

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer()),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  ['gender', 'idg', 'condtn',
                                                   'wave', 'round', 'position',
                                                   'positin1', 'order',
                                                   'partner', 'pid', 'int_corr',
                                                   'samerace', 'age_o',
                                                   'race_o', 'pf_o_att',
                                                   'pf_o_sin', 'pf_o_int',
                                                   'pf_o_fun', 'pf_o_amb',
                                                   'pf_o_sha', 'attr_o',
                                                   'sinc_o', 'intel_o', 'fun_o',
                                                   'amb_o', 'shar_o', 'like_o',
                                                   'prob_o', 'met_o', 'age', ...]),
                                                 ('cat',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='constant')),
                                                                  ('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['field', 'undergra',
                                                   'mn_sat', 'tuition', 'from',
                                                   'zipcode', 'income',
                                                   'career'])])),
                ('my_classifier', SVC())])

## Grid Search with Cross-validation

### First Trail

In [27]:

# here we specify the search space
# `__` denotes an attribute of the preceeding name
# (e.g. my_classifier__n_estimators means the `n_estimators` param for `my_classifier`)

#trying with first Classifier RandomForest
full_pipline = Pipeline(
    steps=[
        ('preprocessor', preprocessor),
        ('my_classifier', RandomForestClassifier())
    ]
)

# these parameters which I had got from a lot of many trials give me this best one

param_grid = {'my_classifier__class_weight': ['balanced'],
              'my_classifier__max_depth': [20],
              'my_classifier__max_features': [None],
              'my_classifier__min_samples_leaf': [2], 
              'my_classifier__min_samples_split': [2], 
              'my_classifier__n_estimators': [300]}





# cv=5 means five-fold cross-validation
# n_jobs means the cucurrent number of jobs

#here we define our gridSearch and passing the pipline as a pramater and our grid search 
grid_search = GridSearchCV(
    full_pipline, param_grid, cv=5, verbose=10, n_jobs=2, 
    scoring='roc_auc')

grid_search.fit(X, y)

print('best score {}'.format(grid_search.best_score_))
print('best score {}'.format(grid_search.best_params_))

Fitting 5 folds for each of 1 candidates, totalling 5 fits

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done   1 tasks      | elapsed:  2.6min
[Parallel(n_jobs=2)]: Done   3 out of   5 | elapsed:  5.2min remaining:  3.5min
[Parallel(n_jobs=2)]: Done   5 out of   5 | elapsed:  7.8min remaining:    0.0s
[Parallel(n_jobs=2)]: Done   5 out of   5 | elapsed:  7.8min finished

best score 0.8658585766087743
best score {'my_classifier__class_weight': 'balanced', 'my_classifier__max_depth': 20, 'my_classifier__max_features': None, 'my_classifier__min_samples_leaf': 2, 'my_classifier__min_samples_split': 2, 'my_classifier__n_estimators': 300}

In [31]:
data.shape

(5909, 160)

In [60]:
#predict with test data and save the result
y_pred1= grid_search.predict_proba(data_test)

In [61]:
y_pred1

array([[0.92025542, 0.07974458],
       [0.69455978, 0.30544022],
       [0.76038607, 0.23961393],
       ...,
       [0.92510097, 0.07489903],
       [0.93582531, 0.06417469],
       [0.95271081, 0.04728919]])

In [64]:
#saving the output on csv file for submission
submission = pd.DataFrame()

submission['id'] = data_test['id']

submission['match'] = y_pred1[:,1]

submission.to_csv('sample_submission_Rf.csv' , index= False)

## Random Search
### Second Trail

In [69]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn import svm

#then in trail 2 we trying Random Search with SVC model

full_pipline = Pipeline(
    steps=[
        ('preprocessor', preprocessor),
        ('my_classifier', svm.SVC(probability=True))
    ]
)


param_grid = {

    'my_classifier__C': [0.1, 1, 10],
    'my_classifier__kernel': ['linear', 'rbf', 'poly', 'sigmoid'],
    'my_classifier__degree': [2, 3, 4],
    'my_classifier__gamma': ['scale', 'auto'],
    'my_classifier__class_weight': [None, 'balanced']
   
} 

random_search = RandomizedSearchCV(
    full_pipline, param_grid, cv=5, verbose=10, n_jobs=2, 
    scoring='roc_auc')

random_search.fit(X, y)

print('best score {}'.format(random_search.best_score_))
print('best score {}'.format(random_search.best_params_))

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done   1 tasks      | elapsed:   26.9s
[Parallel(n_jobs=2)]: Done   4 tasks      | elapsed:   54.7s
[Parallel(n_jobs=2)]: Done   9 tasks      | elapsed:  1.6min
[Parallel(n_jobs=2)]: Done  14 tasks      | elapsed:  2.9min
[Parallel(n_jobs=2)]: Done  21 tasks      | elapsed:  4.3min
[Parallel(n_jobs=2)]: Done  28 tasks      | elapsed:  5.5min
[Parallel(n_jobs=2)]: Done  37 tasks      | elapsed:  8.2min
[Parallel(n_jobs=2)]: Done  46 tasks      | elapsed:  9.8min
[Parallel(n_jobs=2)]: Done  50 out of  50 | elapsed: 10.5min finished

best score 0.8659384934494712
best score {'my_classifier__kernel': 'sigmoid', 'my_classifier__gamma': 'auto', 'my_classifier__degree': 4, 'my_classifier__class_weight': 'balanced', 'my_classifier__C': 10}

In [70]:
##predict with test data and save the result

y_pred2= random_search.predict_proba(data_test)
y_pred2

array([[0.86456271, 0.13543729],
       [0.62426008, 0.37573992],
       [0.73647826, 0.26352174],
       ...,
       [0.92663196, 0.07336804],
       [0.96726241, 0.03273759],
       [0.93970406, 0.06029594]])

In [71]:
#saving the output on csv file for submission

submission = pd.DataFrame()

submission['id'] = data_test['id']

submission['match'] = y_pred2[:,1]

submission.to_csv('sample_submission_SVM.csv' , index= False)

### Third Trial

In [27]:
from sklearn.model_selection import RandomizedSearchCV

import xgboost as xgb

#in third trail we trying to get better scrore so we tried XGB Classifier with Random Search 
XGB_pipline = Pipeline(
    steps=[
        ('preprocessor', preprocessor),
        ('my_classfier', XGBClassifier())
    ]
)
# these parameters which I had got from a lot of many trials give me this best one


param_grid = {
    'my_classfier__learning_rate': [0.1],
    'my_classfier__max_depth': [10],
    'my_classfier__n_estimators': [500],
    'my_classfier__subsample': [0.9],
    'my_classfier__colsample_bytree': [0.5, 0.7, 0.9],
    'my_classfier__reg_alpha': [0.1],
    'my_classfier__reg_lambda': [0.1],
    'my_classfier__gamma': [0]
}


rand2_search = RandomizedSearchCV(
    XGB_pipline, param_grid, cv=5, verbose=10, n_jobs=2, 
    scoring='roc_auc')

rand2_search.fit(X, y)

print('best score {}'.format(rand2_search.best_score_))
print('best score {}'.format(rand2_search.best_params_))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:278: UserWarning: The total space of parameters 1 is smaller than n_iter=10. Running 1 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(
[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.

Fitting 5 folds for each of 1 candidates, totalling 5 fits

[Parallel(n_jobs=2)]: Done   1 tasks      | elapsed:  2.4min
[Parallel(n_jobs=2)]: Done   3 out of   5 | elapsed:  4.7min remaining:  3.2min
[Parallel(n_jobs=2)]: Done   5 out of   5 | elapsed:  7.1min remaining:    0.0s
[Parallel(n_jobs=2)]: Done   5 out of   5 | elapsed:  7.1min finished

best score 0.8668970498513879
best score {'my_classifier__n_estimators': 300, 'my_classifier__min_samples_split': 2, 'my_classifier__min_samples_leaf': 2, 'my_classifier__max_features': None, 'my_classifier__max_depth': 20, 'my_classifier__class_weight': 'balanced'}

In [100]:
#predict with test data and save the result
y_pred3= rand2_search.predict_proba(data_test)
y_pred3

array([[9.9791086e-01, 2.0891202e-03],
       [2.1614575e-01, 7.8385425e-01],
       [9.5386559e-01, 4.6134405e-02],
       ...,
       [9.8932838e-01, 1.0671640e-02],
       [9.9831152e-01, 1.6885012e-03],
       [9.9928391e-01, 7.1607879e-04]], dtype=float32)

In [ ]:
#saving the output on csv file for submission
submission = pd.DataFrame()

submission['id'] = data_test['id']

submission['match'] = y_pred3[:,1]

submission.to_csv('sample_submission_XGB1.csv' , index= False)

### in third Trail i got best result for now XGBoost Classifier with Random Search

In [112]:
from sklearn.model_selection import RandomizedSearchCV

import xgboost as xgb

XGB_pipline = Pipeline(
    steps=[
        ('preprocessor', preprocessor),
        ('my_classfier', XGBClassifier())
    ]
)

# these parameters which I had got from a lot of many trials give me this best one

param_grid = {
    
'my_classfier__colsample_bytree': [1.0],
    'my_classfier__gamma': [0.5], 
    'my_classfier__learning_rate': [0.1],
    'my_classfier__max_depth': [10], 
    'my_classfier__n_estimators':[ 900],
    'my_classfier__reg_alpha': [0.5],
    'my_classfier__reg_lambda': [2], 
    'my_classfier__subsample': [0.7]
}


grid2_search = GridSearchCV(
    XGB_pipline, param_grid, cv=5, verbose=10, n_jobs=2, 
    scoring='roc_auc')

grid2_search.fit(X, y)

print('best score {}'.format(grid2_search.best_score_))
print('best score {}'.format(grid2_search.best_params_))

Fitting 5 folds for each of 1 candidates, totalling 5 fits

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done   1 tasks      | elapsed:   23.2s
[Parallel(n_jobs=2)]: Done   3 out of   5 | elapsed:   48.0s remaining:   32.0s
[Parallel(n_jobs=2)]: Done   5 out of   5 | elapsed:  1.2min remaining:    0.0s
[Parallel(n_jobs=2)]: Done   5 out of   5 | elapsed:  1.2min finished

best score 0.883136666986805
best score {'my_classfier__colsample_bytree': 1.0, 'my_classfier__gamma': 0.5, 'my_classfier__learning_rate': 0.1, 'my_classfier__max_depth': 10, 'my_classfier__n_estimators': 900, 'my_classfier__reg_alpha': 0.5, 'my_classfier__reg_lambda': 2, 'my_classfier__subsample': 0.7}

In [110]:
y_pred4= grid2_search.predict_proba(data_test)
y_pred4

array([[0.9809214 , 0.01907861],
       [0.4473244 , 0.5526756 ],
       [0.8476882 , 0.15231179],
       ...,
       [0.9422367 , 0.0577633 ],
       [0.99369574, 0.00630425],
       [0.99593085, 0.00406914]], dtype=float32)

In [111]:
submission = pd.DataFrame()

submission['id'] = data_test['id']

submission['match'] = y_pred4[:,1]

submission.to_csv('sample_submission_XGB_bayes.csv' , index= False)

## Bayes Search

In [33]:
# Let's try this with xgb model with bayes Search 
from skopt import BayesSearchCV
from skopt.space import Real, Categorical, Integer
import xgboost as xgb


full_pipline = Pipeline(
    steps=[
        ('preprocessor', preprocessor),
        ('my_classfier', XGBClassifier())
    ]
)

# these parameters which I had got from a lot of many trials give me this best one

param_grid = {
    'my_classfier__learning_rate': [0.1],
    'my_classfier__max_depth': [10],
    'my_classfier__n_estimators': [500],
    'my_classfier__subsample': [0.9],
    'my_classfier__colsample_bytree': [0.5, 0.7, 0.9],
    'my_classfier__reg_alpha': [0.1],
    'my_classfier__reg_lambda': [0.1],
    'my_classfier__gamma': [0]
}


bayes_search = BayesSearchCV(full_pipline,param_grid, cv=5, verbose=1, n_jobs=2, n_iter=3,scoring='roc_auc')

bayes_search.fit(X,y)

print('best score {}'.format(bayes_search.best_score_))

print('best score {}'.format(bayes_search.best_params_))

Fitting 5 folds for each of 1 candidates, totalling 5 fits

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done   5 out of   5 | elapsed:   24.0s finished
[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.

Fitting 5 folds for each of 1 candidates, totalling 5 fits

[Parallel(n_jobs=2)]: Done   5 out of   5 | elapsed:   20.5s finished
[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.

Fitting 5 folds for each of 1 candidates, totalling 5 fits

[Parallel(n_jobs=2)]: Done   5 out of   5 | elapsed:   25.6s finished

best score 0.8830035640970934
best score OrderedDict([('my_classfier__colsample_bytree', 0.7), ('my_classfier__gamma', 0), ('my_classfier__learning_rate', 0.1), ('my_classfier__max_depth', 10), ('my_classfier__n_estimators', 500), ('my_classfier__reg_alpha', 0.1), ('my_classfier__reg_lambda', 0.1), ('my_classfier__subsample', 0.9)])

In [ ]:
y_pred5= bayes_search.predict_proba(data_test)
y_pred5

### Finally i got the best score with XGBoost with Random Search 
### 0.8668970498513879
### with these hayperparmaters
----
###### {'my_classifier__n_estimators': 300, 'my_classifier__min_samples_split': 2, 'my_classifier__min_samples_leaf': 2, 'my_classifier__max_features': None, 'my_classifier__max_depth': 20, 'my_classifier__class_weight': 'balanced'}